<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    {{> style}}
    {{> mediastyle}}
</head>
<body>
    {{> header}}

    <div class="infoofblock">
        <p class="p_infoofblock">{{name_of_cat}}</p>
        <a href="/category/{{catinurl}}/today" class="span_a">За сегодня</a>
        <a href="/category/{{catinurl}}/week" class="span_a">За неделю</a>
    </div>

    <div class="mainblock">
        {{#each arc}}
        <div class="article">
            <div class="row author_row">
                <span class="author_span">{{this.author}}</span>
                <span class="time_span">{{this.createDate}}</span>
            </div>
            <div class="row title_row">
                <span class="title_span">{{this.title}}</span>
            </div>
            <div class="row tags_row">
                <span class="tags_span">{{this.tags}}</span>
            </div>
            <div class="row text_row">
                <span class="text_row">
                    {{this.textDesc}}
                </span>
            </div>
            <div class="row btn_row">
                <a href="/category/{{this.categoryName}}/week/post/{{this.id}}" class="span_a">Читать далее</a>
            </div>
        </div>
        {{/each}}
    </div>
</body>
</html>