<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    {{> style}}
    {{> mediastyle}}
</head>
<body>
    {{> header}}

    <div class="mainblock artmob">
        
        {{#unless verified}}
        <div class="verifystatus">
            <p>Внимание! Статья не проверена. В ней может содержаться запрещенный контент.</p>
        </div>
        {{/unless}}

        <div class="article">
            <div class="row author_row">
                <span class="author_span">{{author}}</span>
                <span class="time_span">{{time}}</span>
            </div>
            <div class="row title_row">
                <span class="title_span">{{title}}</span>
            </div>
            <div class="row tags_row">
                <span class="tags_span">{{tags}}</span>
            </div>
            <div class="row text_row">
                <span class="text_row text_span">
                    {{{textt}}}
                </span>
            </div>
        </div>
        
        <div class="dropcomment">
            <p class="commst">Оставьте свой комментарий</p>

            <form method="post">
                <textarea name="commtext" rows="5" cols="45" columns="5" type="text" class="dcomm"></textarea>
                    <br>
                <input type="submit" class="span_a sb">
            </form>
        </div>

        <div class="comments">
            <p class="commst">Комментарии <span class="span_comms_count">50</span></p>

            {{#each cms}}
            <div class="comment">
                <p class="comm_author author_span">{{this.author}}</p>
                <p class="comm_text">{{this.text}}</p>
            </div>
            {{/each}}

        </div>
    </div>
</body>
</html>